@media (max-width: 768px) {}

body {
    font-family: "Roboto Condensed", sans-serif;
    ;
    justify-content: center;
    font-weight: 350;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}